<section class="vh-100 gradient-custom">
  <div class="container py-3 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5 mt-0.1">
        <div class="card bg-dark" style="border-radius: 15px;">
          <div class="card-body p-4">
            <h2 class="text-uppercase text-center mb-4 text-white">Sign in</h2>

            <%= form_with(model: @user, local: true) do |form| %>
              <div class="form-outline mb-3">
                <%= form.label :first_name, class: "form-label text-white", for: "user_first_name" %>
                <%= form.text_field :first_name, id: "user_first_name", class: 'form-control form-control-lg' %>
              </div>

              <div class="form-outline mb-3">
                <%= form.label :last_name, class: "form-label text-white", for: "user_last_name" %>
                <%= form.text_field :last_name, id: "user_last_name", class: 'form-control form-control-lg' %>
              </div>

              <div class="form-outline mb-3">
                <%= form.label :age, class: "form-label text-white", for: "user_age" %>
                <%= form.number_field :age, id: "user_age", class: 'form-control form-control-lg' %>
              </div>

              <div class="form-outline mb-3">
                <%= form.label :city_id, class: "form-label text-white", for: "user_city_id" %>
                <%= form.select :city_id, options_for_select(@cities.map { |city| [city.name, city.id] }), { prompt: "Select a city" }, id: "user_city_id", class: 'form-control form-control-lg' %>
              </div>

              <div class="form-outline mb-3">
                <%= form.label :email, class: "form-label text-white", for: "user_email" %>
                <%= form.email_field :email, id: "user_email", class: 'form-control form-control-lg' %>
              </div>

              <div class="form-outline mb-3">
                <%= form.label :password, class: "form-label text-white", for: "user_password" %>
                <%= form.password_field :password, id: "user_password", class: 'form-control form-control-lg' %>
              </div>

              <div class="d-grid">
                <%= form.submit "Enregistrer", class: "btn btn-outline-light btn-lg text-white" %>
              </div>
            <% end %>

            <p class="text-center text-muted mt-4 mb-0">Have already an account? <%= link_to "Login here", "#", class: "fw-bold text-body" %></p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>








